账号.md

OdinOIS/bin
OdinOIS/obj
OdinOIS/logs
OdinOIS/Data
OdinOIS/serverConfig/cnf.json
OdinOIS/serverConfig/dev
OdinOIS/serverConfig/pro




OdinServerManagerApi/bin
OdinServerManagerApi/obj
OdinServerManagerApi/logs
OdinServerManagerApi/Data
OdinServerManagerApi/serverConfig/cnf.json
OdinServerManagerApi/serverConfig/dev
OdinServerManagerApi/serverConfig/pro


OdinCore/bin
OdinCore/obj
OdinCore/logs
OdinCore/Data
OdinCore/node_modules

OdinCore/serverConfig/dev/consul.json
OdinCore/serverConfig/dev/rabbitmq.json
OdinCore/serverConfig/dev/webConfig.json
OdinCore/serverConfig/pro/consul.json
OdinCore/serverConfig/pro/rabbitmq.json
OdinCore/serverConfig/pro/webConfig.json
OdinCore/serverConfig/cnf.json


OdinWorkers/bin
OdinWorkers/obj
OdinWorkers/logs
OdinWorkers/serverConfig/dev/rabbitmq.json
OdinWorkers/serverConfig/dev/webConfig.json
OdinWorkers/serverConfig/pro/rabbitmq.json
OdinWorkers/serverConfig/pro/webConfig.json

OdinHangFire/bin
OdinHangFire/obj
OdinHangFire/logs
OdinHangFire/serverConfig/dev/rabbitmq.json
OdinHangFire/serverConfig/dev/webConfig.json
OdinHangFire/serverConfig/pro/rabbitmq.json
OdinHangFire/serverConfig/pro/webConfig.json

node_modules
package-lock.json
